@model TamsPizzeriaWebApp.Models.EmployeeViewModels.EmployeeViewModel


<h2>Welcome To The Employee Portal!</h2>
<h4>Select A Service Below</h4>
<br />
<div class="col-md-12">
    <a asp-action="Service" class="btn btn-lg btn-default">Service System Portal</a>
    <a asp-action="History" class="btn btn-lg btn-default">Order History</a>
    <a asp-action="Statistics" class="btn btn-lg btn-default">Employee Statistics</a>
    <br />
</div>

<label hidden="hidden"></label>
<br />
<br />

