<h2>Welcome @ViewData["FirstName"]! You're hungry... aren't you?</h2>

<div class="col-md-12">
    <h2 style="color: black; font-weight: 800; text-decoration: underline; padding-bottom: 20px;">Read Our Terms and Conditions</h2>
    <div class="col-md-10"></div>
    <p class="white" style="max-width: 65%; text-align: justify">
        To create an online order we require you to understand the terms and conditions first.
        <br />
        We require this measure for the safety of our website and for the best interests of our daily operations.
        <br />
        Please also understand the limitations and rules about online orders.
        <br /><br />
        If you make an order before 8:00AM or after 10:00PM during our work days your online order will be ignored.
        However, if you are submitting an online order near the cut off times, please call us to ensure that we will be able to
        accomodate you.
        <br /><br />
        We are operational from 9:00AM to 10:30PM every day and we must prioritize our work load.
        <br /><br />
        Pizza orders are usually ready 30 minutes after you submit an online order.
        <br />
        Please arrive accordingly for dining in or picking up!
        <br /><br />
        You will be expected to pay upon arrival.
        <br />
        At this time we are accepting CASH only! 8% sales tax is applicable! Thank you!
    </p>
    <br />
    <a asp-action="Order" class="btn btn-lg orderButton" role="button">Continue To Ordering</a>
    <br />
</div>
<div class="col-lg-12">
    <br />
    <label></label>
    <br />
    <br />
</div>




