@model TamsPizzeriaWebApp.Models.CreateOrderViewModels.CreateOrderViewModel

@{
    ViewData["Title"] = "Order";
}

<h2>Hello @Model.UserFirstName!</h2>

<h3>Please Submit Your Custom Online Order Below!</h3>
<br />
<h4>Order Form</h4>
    <form asp-action="Order" method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="PizzaSize"></label>
                    <select asp-for="PizzaSize" asp-items="Model.Sizes" class="form-control">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="PizzaSize" class="white"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PizzaCrust"></label>
                    <select asp-for="PizzaCrust" asp-items="Model.Crusts" class="form-control">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="PizzaCrust" class="white"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PizzaTopping1"></label>
                    <select asp-for="PizzaTopping1" asp-items="Model.Topping1" class="form-control">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="PizzaTopping1" class="white"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PizzaTopping2"></label>
                    <select asp-for="PizzaTopping2" asp-items="Model.Topping2" class="form-control">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="PizzaTopping2" class="white"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PizzaTopping3"></label>
                    <select asp-for="PizzaTopping3" asp-items="Model.Topping3" class="form form-control">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="PizzaTopping3" class="white"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PizzaQuantity"></label>
                    <select asp-for="PizzaQuantity" asp-items="Model.Quantities" class="form form-control">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="PizzaQuantity" class="white"></span>
                </div>
                <input type="hidden" asp-for="@Model.UserFirstName" />
                <input type="hidden" asp-for="@Model.UserLastName" />
                <input type="submit" value="Check Price" name="check" class="btn btn-warning">
                <input type="submit" value="Submit Order" name="submit" class="btn orderButton">
                <br />
                <br />
                <label class="subTotal">Sub Total: $@Model.SubTotal.ToString("0.00")</label>
                <br />
            </div>
        </div>
    </form>
<label></label>




