@{
    ViewData["Title"] = "About";
}
<h2>About Us!</h2>
<h2 style="color: black; font-weight: 800; text-decoration: underline; padding-bottom: 20px;">Tams' Pizzeria Est. 2018</h2>
<div class="col-lg-push-12">
    <p class="white">
        We are a small business with big dreams and world-class tasting pizza. From first opening our doors in the summer of 2018, we have served hundreds
        of pizza-loving customers from around town and out of state.
        We understand the need for a world-class taste with an affordable price in mind.
        <br /><br />
        Tams' Pizzeria is happy to deliver a home style taste at a fair price point. We are able to accomplish our goals to deliver premium pizzas by
        sourcing our ingredients from organic and mostly local farmers. Additionally, our renown professional and friendly bakers have helped to deliver our
        business needs. From our customer friendly restaurant, we invite you to partake in trying our pizzas.
        <br /><br />
        For the best taste. Everytime. Period.
        <br />
        <br />
        <br />
    </p>
</div>

