@{
    ViewData["Title"] = "Contact";
}
<h2>Contact Us!</h2>
<h3>Questions? Ask Us!</h3>

<address style="color: black; font-weight: 600;">
    1337 Portsmouth St.<br />
    Glendale Heights, IL<br />
    <abbr title="Phone">P:</abbr>
    630-122-2190
</address>

<address>
    <strong>Careers:</strong> <a href="mailto:Support@example.com">careers@tamspizzeria.com</a><br />
    <strong>Store:</strong> <a href="mailto:Marketing@example.com">tams@tamspizzeria.com</a>
</address>
